<h1>Fill the Product Details in Form</h1>
<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
    Item Name:<input type="text" name="name" [(ngModel)]="name" required><br>
    Item Quantity:<input type="text" name="quantity" [(ngModel)]="quantity" required><br>
    Item Price:<input type="text" name="price" [(ngModel)]="price" required><br>
    Item Description:<input type="text" name="description" [(ngModel)]="description" required><br>
    <button type="button" name="btn" (click)=addProduct() [disabled]="!form.valid">Add Item</button>
</form>

